{% load static %}
<section id="Historia">
    <div class="container mx-auto center">
        <div class="d-flex flex-column box-historia">
            <h2>Nossa História</h2>
            <div class="col-md-12" style="font-size: small;">
                <div style="font-family: 'Titillium Web', sans-serif;">
                    <br>
                    <p style="color: #ffffff;">Fundada pelo Sr. Ali Assad em 1970 na cidade de Colina, interior de São
                        Paulo, nasce a Cerealista Colina. Um pequeno comércio no centro da cidade de beneficiamento,
                        empacotamento e distribuição de arroz e feijão. Na época era vendido no varejo em sacos de 60kg. Em
                        1982 seu filho mais novo Assad assume a empresa, e assim nasce a marca Renata para arroz e feijão. </p>
                    <p style="color: #ffffff;">Nossa preocupação era entregar para cada família brasileira o que há de
                        mais saudável e qualidade em nossos produtos, assim investimos na tecnologia que era oferecida
                        na época. Devido nossa qualidade, a procura pelo nosso produto foi crescendo e em pouco tempo
                        tornávamo-nos líderes de venda em Colina e região.</p>
                    <div id="more" class="hidden-xs">
                        <p style="color: #ffffff;">Já em 2003 com a alta demanda de produtos vendidos começamos a montar
                            uma
                            indústria maior, em uma de nossas áreas rurais em Colina. Em 2004 implantamos uma linha
                            moderna
                            de beneficiamento e empacotamento de arroz, assim sempre investindo em estrutura e cada dia
                            mais
                            melhorando nosso padrão de qualidade. Já em 2009 passamos por reformas em nossa linha de
                            feijão,
                            montamos uma linha completa de beneficiamento e tudo que havia de tecnologia no mercado de
                            máquinas do setor. Sempre zelamos pelo aperfeiçoamento de nossa indústria, em busca de
                            tecnologia e cada dia mais preocupado em trazer qualidade em nossos produtos.</p>
                        <p style="color: #ffffff;">Mais tarde entra a terceira geração na empresa (Assad Junior e
                            Camila) e
                            já com o alto padrão em tecnologia éramos capazes de fazer um produto premium, assim
                            lançamos
                            a marca Campo Fino Premium para arroz e feijão em 18/07/2019.</p>
                        <p style="color: #ffffff;">Pouco depois no mesmo ano passamos a mudar nosso nome para Campo Fino
                            Alimentos.</p>
                        <p style="color: #ffffff;">Já em 2020 aumentamos nossa área totalizando 10.000m² e dobramos
                            nossa
                            capacidade de produção para arroz e feijão, fruto de nossa história de muito esforço,
                            trabalho,
                            dedicação e muita qualidade.</p>
                        <p style="color: #ffffff;">Hoje possuímos uma moderna fábrica que conta com o que há de mais
                            moderno
                            em matéria de equipamento para beneficiamento seleção e empacotamento dos alimentos.
                            Impulsionado pela busca permanente de qualidade e inovação, realizamos a mais importante
                            evolução de nossa arquitetura de marca, a reformulação de nossa embalagens que valoriza
                            nossa
                            exigência de qualidade.</p>
                        <p style="color: #ffffff;">Todos nossos produtos são entregues em frota própria, nossos
                            colaboradores são treinados constantemente para acompanhar a dinâmica do mercado, mantendo
                            em
                            primeiro lugar o padrão de qualidade, nossos produtos são regularmente analisados por
                            laboratórios credenciados pelo ministério da agricultura, pecuária </p>
                        <p style="color: #ffffff;">Hoje possuímos as marcas Campo fino, Renata, Seletto, Panela cheia,
                            Tia
                            Amélia e Quero tudo. Dentre elas nas linhas tradicionais e premium.</p>
                    </div>
                    <a style="color: #ffffff; font-size: medium;" class="visible-xs" href="javascript:showMore()"
                        id="link">LEIA MAIS >></a>`
                </div>
            </div>
        </div>
    </div>
</section>